In [1]:
# Import necessary libraries

import sqlite3
from sqlite3 import Error

In [2]:
# Function to create the database connection

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(f"Connection to {db_file} is established.")
    except Error as e:
        print(e)
    return conn

In [3]:
# Function to create the books table

def create_table(conn):
    try:
        sql_create_books_table = """ CREATE TABLE IF NOT EXISTS books (
                                        id integer PRIMARY KEY,
                                        title text NOT NULL,
                                        author text NOT NULL,
                                        year integer
                                    ); """
        cursor = conn.cursor()
        cursor.execute(sql_create_books_table)
        print("Table 'books' created successfully.")
    except Error as e:
        print(e)

In [4]:
# Create database connection

database = "test.db"
conn = create_connection(database)

Connection to test.db is established.

In [5]:
# Cursor object creation

cursor = conn.cursor()

In [6]:
# Function to insert a new book

def insert_book(conn, book):
    sql = ''' INSERT INTO books(title, author, year)
              VALUES(?,?,?) '''
    cursor.execute(sql, book)
    conn.commit()
    print(f"Book '{book[0]}' added successfully.")
    return cursor.lastrowid

In [7]:
 # Function to query all rows in the books table

 def read_books(conn):
    cursor.execute("SELECT * FROM books")

    rows = cursor.fetchall()
    print("Books in the database:")
    for row in rows:
        print(row)

In [8]:
# Function to update the title, author, and year of a book

def update_book(conn, book):
    sql = ''' UPDATE books
              SET title = ?,
                  author = ?,
                  year = ?
              WHERE id = ?'''
    cursor.execute(sql, book)
    conn.commit()
    print(f"Book with ID {book[3]} updated successfully.")

In [9]:
# Function to delete a book by book id

def delete_book(conn, id):
    sql = 'DELETE FROM books WHERE id=?'

    cursor.execute(sql, (id,))
    conn.commit()
    print(f"Book with ID {id} deleted successfully.")

In [10]:
# Creating table

if conn is not None:
    create_table(conn)
else:
    print("Error! Cannot create the database connection.")

Table 'books' created successfully.

In [11]:
# Insert a book

books = [
        ('The Great Gatsby', 'F. Scott Fitzgerald', 1925),
        ('To Kill a Mockingbird', 'Harper Lee', 1960),
        ('1984', 'George Orwell', 1949),
        ('Pride and Prejudice', 'Jane Austen', 1813),
        ('Moby-Dik', 'Herman Melville', 1851)
    ]

for book in books:
        insert_book(conn, book)

Book 'The Great Gatsby' added successfully.
Book 'To Kill a Mockingbird' added successfully.
Book '1984' added successfully.
Book 'Pride and Prejudice' added successfully.
Book 'Moby-Dik' added successfully.

In [12]:
 # Read books

 read_books(conn)

Books in the database:
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(2, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(3, '1984', 'George Orwell', 1949)
(4, 'Pride and Prejudice', 'Jane Austen', 1813)
(5, 'Moby-Dik', 'Herman Melville', 1851)

In [13]:
# Update a book

updated_book = ('Nineteen Eighty-Four', 'George Orwell', 1949, 3)
update_book(conn, updated_book)

Book with ID 3 updated successfully.

In [14]:
# Read books after update

read_books(conn)

Books in the database:
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(2, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(3, 'Nineteen Eighty-Four', 'George Orwell', 1949)
(4, 'Pride and Prejudice', 'Jane Austen', 1813)
(5, 'Moby-Dik', 'Herman Melville', 1851)

In [15]:
# Delete a book

delete_book(conn, 5)

Book with ID 5 deleted successfully.

In [16]:
 # Read books after deletion

 read_books(conn)

Books in the database:
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)
(2, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(3, 'Nineteen Eighty-Four', 'George Orwell', 1949)
(4, 'Pride and Prejudice', 'Jane Austen', 1813)